upstream consul_cluster {
    server 10.0.1.10:8500;
    server 10.0.1.11:8500;
    server 10.0.1.12:8500;
}

server {
    listen       80;
    server_name  <%= node['nginx']['cert']['fqdn'] -%>%;

    access_log  /var/log/nginx/<%= node['nginx']['cert']['fqdn'] -%>.access.log  main;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen       443 ssl;
    server_name  <%= node['nginx']['cert']['fqdn'] -%>;

    access_log  /var/log/nginx/<%= node['nginx']['cert']['fqdn'] -%>.access.log  main;

    ssl                  on;
    ssl_certificate      /etc/ssl/<%= node['nginx']['cert']['fqdn'] -%>-chain.crt;
    ssl_certificate_key  /etc/ssl/<%= node['nginx']['cert']['fqdn'] -%>.key;
    ssl_session_cache    shared:SSL:10m;
    ssl_session_timeout  10m;

    auth_basic           	"Restricted Access";
    auth_basic_user_file 	/etc/nginx/htpasswd; 

    location / {
        proxy_pass http://consul_cluster;
    }
}
