{
    "advertise_addr": "<%= @ip_address %>",
    "bind_addr": "<%= @ip_address %>",
    "bootstrap_expect": <%= @bootstrap_expect %>,
    "client_addr": "0.0.0.0",
    "datacenter": "test-dc",
    "data_dir": "/var/lib/consul",
    "domain": "local",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "enable_syslog": true,
    "encrypt": "RCsXXoKr9U/06W4wzh0tPQ==",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "rejoin_after_leave": true,
    "retry_join": [
    	"10.0.1.10",
    	"10.0.1.11",
    	"10.0.1.12",
        "10.0.1.20",
        "10.0.1.21"
    ],
    "server": <%= @server %>,
    "start_join": [
        "10.0.1.10",
        "10.0.1.11",
        "10.0.1.12"
    ],
    "ui": <%= @ui %>
}
