{
  "services": [
    {
      "id": "<%= @service_id %>",
      "name": "redis",
      "tags": <%= @tags %>,
      "enable_tag_override": true,
      "port": 6379,
      "checks": [
        {
          "name": "Local redis ping",
          "args": [ "redis-cli", "ping" ],
          "interval": "10s"
        }
      ]
    }
  ]
}
